html,
body {
  height: 100%;
}

.App {
  text-align: center;
}

.chat-box {
  background: grey;
  margin-top: 10px;
  padding: 5 5 5 5;
  position: relative;

  height: 100px;

  overflow: auto;
}

.bg {
  background-image: url(./img/better-pic.jpeg);
  height: 100vh;
  width: auto;

  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  text-align: center;
}

.btn {
  margin: 20px;
}

.map-container {
  height: 1000px;
  width: auto;
}

.full-size-container {
  height: 100vh;
  width: auto;
}

#map {
  height: 100%;
}
